html {
    position: relative;
}

h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 262%;
    margin: 80px 0 20px;
    color: #3F2425;
    text-align: left;
}

#wrapper>section {
    height: 612px;
    padding: 60px calc(50% - 480px) 100px;
}

section>div {
    max-width: 500px;
}

section:first-of-type>div,
section:nth-of-type(3)>div {
    margin-left: 360px;
}

#wrapper {
    overflow: hidden;
    position: relative;
    font-size: 24px;
}

#wrapper::before {
    content: " ";
    background: url(../img/index/home_fundo.png) center top no-repeat;
    background-size: auto 2056px;
    background-origin: content-box;
    display: block;
    width: 100%;
    height: 2056px;
    position: absolute;
    z-index: -1;
    left: 0;
    padding-top: 220px;
}

#bem-vindo h2 {
    font-weight: 900;
}

#anfibios {
    padding-top: 180px;
}

#anfibios::before {
    content: " ";
    background: url(../img/index/ilha_1.png) center left no-repeat;
    background-size: contain;
    display: block;
    width: 882px;
    height: 490px;
    position: absolute;
    z-index: -1;
    left: calc(50% + 60px);
    top: 180px;
}

#anfibios h2 {
    margin-top: 160px;
}

#especies {
    padding-top: 120px;
}

#especies::before {
    content: " ";
    background: url(../img/index/ilha_2.png) center left no-repeat;
    background-size: contain;
    display: block;
    width: 980px;
    height: 640px;
    position: absolute;
    z-index: -1;
    right: calc(50% + 90px);
    top: -20px;
}

#jogos {
    text-align: center;
    height: auto;
    padding-bottom: 70px;
}

#jogos h2 {
    text-align: center;
}

#jogos p {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#jogos img {
    width: 220px;
    height: 220px;
}

.loader {
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
    #wrapper::before {
        padding-top: 265px;
    }
    
    section>div,
    section:first-of-type>div, 
    section:nth-of-type(3)>div {
        margin: 0 auto;
    }

    h2 {
        margin-top: 0;
        text-align: center;
    }

    #wrapper>section:nth-of-type(2) {
        padding: 20px 20px 260px;
    }
    
    #wrapper>section {
        height: 612px;
        padding: 20px 20px 180px;
        text-align: center;
        overflow: hidden;
    }

    p {
        text-align: center;
    }

    #anfibios::before {
        left: calc(50% - 110px);
        top: 470px;
    }

    #especies::before {
        right: calc(50% - 140px);
        top: 370px;
    }
}

@media screen and (max-width: 600px) {
    #anfibios .botao-cta,
    #especies .botao-cta {
        position: relative;
        top: 180px;
    }
}