@import url('https://fonts.googleapis.com/css?family=Chivo:400,700,900|Roboto:300,400,700&display=swap');

html, body {
    color: #3F2425;
    margin: 0;
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav img {
    width: 400px;
    margin: 80px 50px 0 70px;
    float: left;
}

nav video {
    width: 500px;
    margin: -24px 0 -202px -30px;
    float: left;
}

nav ul {
    text-align: right;
    padding: 80px 70px 0;
    font-size: 75%;
    margin-top: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.5;
    padding: 0 14px;
}

nav li a {
    text-decoration: none;
    color: #3F2525;
    position: relative;
}

nav li.here a {
    color: #F7A502;
}

nav li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3F2525;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav li.here a::after {
    background: #F7A502;
    width: 100%; 
    left: 0; 
}

nav li a:hover:after { 
    width: 100%; 
    left: 0; 
}

nav::after {
    content: " ";
    display: block;
    clear: both;
}

h1,
h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 188%;
    color: #F7A502;
    text-align: center;
}

h3 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: #F7A502;
    text-align: center;
}

p {
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
}

body>section:first-of-type {
    padding-top: 60px;
    text-align: center;
}

body>section,
#wrapper>section {
    max-width: 960px;
    padding: 20px calc(50% - 480px);
    background-clip: border-box;
    background-origin: border-box;
    box-sizing: content-box;
    position: relative;
}

body>section:last-of-type {
    padding-bottom: 100px;
}

footer {
    background: #30AA8A;
    height: 150px;
    font-size: 83%;
    color: white;
    padding-top: 60px;
    background: url(../img/rodape_fundo.jpg);
    opacity: 0.8;
}

footer p {
    font-weight: 700;
    letter-spacing: 0.5px;
    text-shadow: 0 2px 5px #4a4605;
}

footer a {
    color: white;
}

ul.colunas {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul.colunas li {
    list-style: none;
    display: flexbox;
    width: 280px;
    margin: 30px 0;
}

ul.colunas p,
footer p {
    text-align: center;
    font-size: 100%;
}

img.janela {
    width: 168px;
    height: 168px;
    border-radius: 84px;
}

a.botao-cta {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 91%;
    background-position: center;
    transition: background 0s;
    background: #F7A501 radial-gradient(circle, transparent 1%, #F7A501 1%) center/15000%;
    background-size: 100%;
}

.botao-cta:hover {
    background: #E0850B radial-gradient(circle, transparent 1%, #E0850B 1%) center/1500%;
    background-size: 10000%;
    transition: background 0.8s;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 18px;
    }

    body>section {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav img {
        width: 200px;
        margin: 20px 20px;
        float: left;
        z-index: 2;
        position: relative;
    }

    nav video {
        width: 250px;
        margin: -12px 0 -101px -15px;
        z-index: 0;
        position: relative;
    }

    nav ul {
        position: absolute;
        background: url(../img/menu.svg) 100% -12px no-repeat;
        background-origin: content-box;
        padding: 20px;
        background-size: 40px;
        overflow: hidden;
        right: 0;
        top: 0;
        left: 0;
        height: 30px;
        transition: .5s height;
    }
    
    nav ul.show {
        height: 440px;
        transition: .5s height;
    }
    
    nav ul li {
        display: block;
        padding: 20px;
        background: white;
        border: 1px solid #CBCBCB;
        width: 100%;
        position: relative;
        left: -20px;
        z-index: 1;
        text-align: center;
        border-top: 0;
    }

    nav ul li:first-of-type {
        margin-top: 64px;
    }
}