@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
    max-width: 960px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 120%;
    color: #DF8D02;
    margin-bottom: 0;
    display: inline-block;
    width: 396px;
}

h2 {
    font-weight: 700;
    font-size: 120%;
    color: #DF8D02;
    font-style: italic;
    margin-top: 0;
    display: inline-block;
    width: 396px;
}

p {
    text-align: left;
}

#vitrine {
    max-height: 360px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#figura-vitrine {
    position: relative;
    margin: 0;
    word-spacing: 20px;
    text-align: center;
}

#figura-vitrine>img.mapa {
    background: url(https://tile.gbif.org/3857/omt/5/11/18@2x.png?style=osm-bright);
    background-size: cover;
    background-position: 0 -60px;
    object-position: 0 -60px;
    object-fit: cover;
    width: 554px;
    height: 360px;
}

body>img {
    width: 554px;
    height: 360px;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 8px;
}

#especie {
    position: relative;
    cursor: pointer;
    text-align: center;
}

#especie::before {
    display: block;
    content: " ";
    position: absolute;
    top: 16px;
    bottom: 0;
    left: 74px;
    width: 80px;
    height: 68px;
    background: url(../especies/som-sprite.png) no-repeat;
    background-size: 45px 133px;
    box-sizing: border-box;
    padding: 12px;
    background-clip: content-box;
    background-origin: content-box;
    background-position: 0 -45px;
}

#especie:hover::before {
    background-position: 0 0;
}

@media screen and (max-width: 554px) {
    #figura-vitrine>img.mapa {
        width: 100%;
        height: 65%;
    }
}